.compboard{
    text-align: center;
}

h1{
    font-size: 8em;
    margin: 0.4em 0;/*Top and bottom argins are 0.4em. Right and left margins are 0*/
    font-weight: lighter;
    text-shadow: 3px 0px 0px #e4e4e5,
                 3px 0.1875px 0px #e4e4e5,
                 3px 0.375px 0px #e4e4e5,
                 3px 0.5625px 0px #e4e4e5,
                 3px 0.75px 0px #e4e4e5,
                 3px 0.9375px 0px #e4e4e5,
                 3px 1.125px 0px #e4e4e5,
                 3px 1.3125px 0px #e4e4e5,
                 3px 1.5px 0px #e4e4e5,
                 3px 1.6875px 0px #e4e4e5,
                 3px 1.875px 0px #e4e4e5,
                 3px 2.0625px 0px #e4e4e5,
                 3px 2.25px 0px #e4e4e5,
                 3px 2.4375px 0px #e4e4e5,
                 3px 2.625px 0px #e4e4e5,
                 3px 2.8125px 0px #e4e4e5,
                 3px 3px 0px #e4e4e5,
                 2.8125px 3px 0px #e4e4e5,
                 2.625px 3px 0px #e4e4e5,
                 2.4375px 3px 0px #e4e4e5,
                 2.25px 3px 0px #e4e4e5,
                 2.0625px 3px 0px #e4e4e5,
                 1.875px 3px 0px #e4e4e5,
                 1.6875px 3px 0px #e4e4e5,
                 1.5px 3px 0px #e4e4e5,
                 1.3125px 3px 0px #e4e4e5,
                 1.125px 3px 0px #e4e4e5,
                 0.9375px 3px 0px #e4e4e5,
                 0.75px 3px 0px #e4e4e5,
                 0.5625px 3px 0px #e4e4e5,
                 0.375px 3px 0px #e4e4e5,
                 0.1875px 3px 0px #e4e4e5,
                 0px 3px 0px #e4e4e5,
                 -0.1875px 3px 0px #e4e4e5,
                 -0.375px 3px 0px #e4e4e5,
                 -0.5625px 3px 0px #e4e4e5,
                 -0.75px 3px 0px #e4e4e5,
                 -0.9375px 3px 0px #e4e4e5,
                 -1.125px 3px 0px #e4e4e5,
                 -1.3125px 3px 0px #e4e4e5,
                 -1.5px 3px 0px #e4e4e5,
                 -1.6875px 3px 0px #e4e4e5,
                 -1.875px 3px 0px #e4e4e5,
                 -2.0625px 3px 0px #e4e4e5,
                 -2.25px 3px 0px #e4e4e5,
                 -2.4375px 3px 0px #e4e4e5,
                 -2.625px 3px 0px #e4e4e5,
                 -2.8125px 3px 0px #e4e4e5,
                 -3px 3px 0px #e4e4e5,
                 -3px 2.8125px 0px #e4e4e5,
                 -3px 2.625px 0px #e4e4e5,
                 -3px 2.4375px 0px #e4e4e5,
                 -3px 2.25px 0px #e4e4e5,
                 -3px 2.0625px 0px #e4e4e5,
                 -3px 1.875px 0px #e4e4e5,
                 -3px 1.6875px 0px #e4e4e5,
                 -3px 1.5px 0px #e4e4e5,
                 -3px 1.3125px 0px #e4e4e5,
                 -3px 1.125px 0px #e4e4e5,
                 -3px 0.9375px 0px #e4e4e5,
                 -3px 0.75px 0px #e4e4e5,
                 -3px 0.5625px 0px #e4e4e5,
                 -3px 0.375px 0px #e4e4e5,
                 -3px 0.1875px 0px #e4e4e5,
                 -3px 0px 0px #e4e4e5,
                 -3px -0.1875px 0px #e4e4e5,
                 -3px -0.375px 0px #e4e4e5,
                 -3px -0.5625px 0px #e4e4e5,
                 -3px -0.75px 0px #e4e4e5,
                 -3px -0.9375px 0px #e4e4e5,
                 -3px -1.125px 0px #e4e4e5,
                 -3px -1.3125px 0px #e4e4e5,
                 -3px -1.5px 0px #e4e4e5,
                 -3px -1.6875px 0px #e4e4e5,
                 -3px -1.875px 0px #e4e4e5,
                 -3px -2.0625px 0px #e4e4e5,
                 -3px -2.25px 0px #e4e4e5,
                 -3px -2.4375px 0px #e4e4e5,
                 -3px -2.625px 0px #e4e4e5,
                 -3px -2.8125px 0px #e4e4e5,
                 -3px -3px 0px #e4e4e5,
                 -2.8125px -3px 0px #e4e4e5,
                 -2.625px -3px 0px #e4e4e5,
                 -2.4375px -3px 0px #e4e4e5,
                 -2.25px -3px 0px #e4e4e5,
                 -2.0625px -3px 0px #e4e4e5,
                 -1.875px -3px 0px #e4e4e5,
                 -1.6875px -3px 0px #e4e4e5,
                 -1.5px -3px 0px #e4e4e5,
                 -1.3125px -3px 0px #e4e4e5,
                 -1.125px -3px 0px #e4e4e5,
                 -0.9375px -3px 0px #e4e4e5,
                 -0.75px -3px 0px #e4e4e5,
                 -0.5625px -3px 0px #e4e4e5,
                 -0.375px -3px 0px #e4e4e5,
                 -0.1875px -3px 0px #e4e4e5,
                 0px -3px 0px #e4e4e5,
                 0.1875px -3px 0px #e4e4e5,
                 0.375px -3px 0px #e4e4e5,
                 0.5625px -3px 0px #e4e4e5,
                 0.75px -3px 0px #e4e4e5,
                 0.9375px -3px 0px #e4e4e5,
                 1.125px -3px 0px #e4e4e5,
                 1.3125px -3px 0px #e4e4e5,
                 1.5px -3px 0px #e4e4e5,
                 1.6875px -3px 0px #e4e4e5,
                 1.875px -3px 0px #e4e4e5,
                 2.0625px -3px 0px #e4e4e5,
                 2.25px -3px 0px #e4e4e5,
                 2.4375px -3px 0px #e4e4e5,
                 2.625px -3px 0px #e4e4e5,
                 2.8125px -3px 0px #e4e4e5,
                 3px -3px 0px #e4e4e5,
                 3px -2.8125px 0px #e4e4e5,
                 3px -2.625px 0px #e4e4e5,
                 3px -2.4375px 0px #e4e4e5,
                 3px -2.25px 0px #e4e4e5,
                 3px -2.0625px 0px #e4e4e5,
                 3px -1.875px 0px #e4e4e5,
                 3px -1.6875px 0px #e4e4e5,
                 3px -1.5px 0px #e4e4e5,
                 3px -1.3125px 0px #e4e4e5,
                 3px -1.125px 0px #e4e4e5,
                 3px -0.9375px 0px #e4e4e5,
                 3px -0.75px 0px #e4e4e5,
                 3px -0.5625px 0px #e4e4e5,
                 3px -0.375px 0px #e4e4e5,
                 3px -0.1875px 0px #e4e4e5;
}